.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(#250358, #440c66);
  padding: 1rem;
  border-radius: 6px;
  width: 400px;
  min-width: 285px;
  transition: all 0.2s
}

.card:hover {
  transform: translateY(-2px);
  transition: transform 0.2s;
}

.card-content {
  width: 100%;

}

.card-item {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
}

.card-item-time {
  text-align: right;
  flex-grow: 1;
}

.card h3 {
  margin-bottom: 0;
}

.card.active {
  box-shadow: 0 2px 30px rgba(234, 78, 240, 0.4);
}