#lessons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-width: 370px;
}

@media screen and (max-width: 600px) {
  #lessons-list {
    padding: 10px;
    min-width: 350px;
  }
}
