ul {
  border-top: 2px solid #777;
  display: flex;
  left: 0;
  list-style: none;
  min-width: 1200px;
  overflow-x: hidden;
  position: absolute;
  top: 5px;
  width: 100%;
  z-index: 2;
}

ul li {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  height: 40px;
  margin: 25px;
  min-width: 24px;
  position: relative;
  top: -20px;
  width: 24px;
}

ul li::before {
  background-color: #444;
  content: '';
  height: 8px;
  left: 7px;
  position: absolute;
  top: -7px;
  width: 10px;
}

ul li::after {
  border-bottom: 2px solid #444;
  border-radius: 50%;
  content: '';
  height: 26px;
  left: 12px;
  position: absolute;
  top: -24px;
  width: 74px;
}

ul li:last-child:after {
  border-bottom: none;
}

ul li:nth-child(3n + 1) {
  animation: animate1 1.5s linear infinite;
  background: rgba(255, 255, 0, 0.8);
}

@keyframes animate1 {
  0% {
    background: rgba(255, 255, 0, 0.2);
  }
  50% {
    background: rgba(255, 255, 0, 0.8);
    box-shadow: 0 0 25px rgba(255, 255, 0, 0.8), 0 0 45px rgba(255, 255, 0, 0.8);
  }
  100% {
    background: rgba(255, 255, 0, 0.2);
  }
}

ul li:nth-child(3n + 2) {
  animation-delay: .5s;
  animation: animate2 1.5s linear infinite;
  background: rgba(255, 0, 255, 0.8);
}

@keyframes animate2 {
  0% {
    background: rgba(255, 0, 255, 0.2);
  }
  50% {
    background: rgba(255, 0, 255, 0.8);
    box-shadow: 0 0 25px rgba(255, 0, 255, 0.8), 0 0 45px rgba(255, 0, 255, 0.8);
  }
  100% {
    background: rgba(255, 0, 255, 0.2);
  }
}

ul li:nth-child(3n + 3) {
  animation-delay: 1s;
  animation: animate3 1.5s linear infinite;
  background: rgba(0, 255, 0, 0.8);
}

@keyframes animate3 {
  0% {
    background: rgba(0, 255, 0, 0.2);
  }
  50% {
    background: rgba(0, 255, 0, 0.8);
    box-shadow: 0 0 25px rgba(0, 255, 0, 0.8), 0 0 45px rgba(0, 255, 0, 0.8);
  }
  100% {
    background: rgba(0, 255, 0, 0.2);
  }
}
